input {
  margin: -1rem auto 1rem auto;
  padding: 0.75rem;
  /* height: 0.75rem; */
  /* border: 1px solid lightslategray;
  border-radius: 4px; */
}

div {
  display: block;
  margin: auto auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

div h2,
h3,
p,
form,
li {
  margin: auto;
  text-align: center;
}

.top-input {
  margin: 0.5rem auto 2rem auto;
}
