@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  h1 {
    @apply text-3xl lg:text-5xl font-bold;
  }
  h2 {
    @apply text-xl lg:text-2xl font-bold;
  }
  h3 {
    @apply text-lg lg:text-xl font-bold;
  }
  h4 {
    @apply text-base lg:text-lg font-bold;
  }
}

body {
  display: flex;
  margin: auto auto;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#root {
  padding: 0rem;
  max-width: max-content;
  text-align: center;
}
