.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

.hero-content {
  max-width: 100%;
}

.hero h1 {
  margin-bottom: 20px;
}

.hero-button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #282c34;
  background-color: #61dafb;
  border: none;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #21a1f1;
}
